@media (max-width: 320px) {


    /*Header*/
    
    header{
    padding: 0px;
    display: flex;
    flex-direction: column;
   
    }
    
    #logo img
    {
       margin-left: 350px;
       margin-top: 40px;
        width: 180px;
        height: 80px;
    }
    
    
    /* Navigation */
    
    nav a
    {
        font-size: 28px;
        font-weight: 500;
        
       
    }
    nav ul li:hover
    {
        color: #0065fc;
        border-bottom: 05px solid #0065fc;
     
    }

    h1{
        font-size: 35px;
        font-weight: 900;     
        width: 500px;
        margin-left: 40px;
       
    
      }
      
    p {
        width: 500px;
        margin-left: 40px;
        font-size: 25px;
        font-weight: 300;
        margin-bottom: 40px;
      }

    }