/*version tablette 768*/

@media (max-width: 992px){ 

nav ul{
  padding-left: 400px;
    }

.deux_blocs{
        width: 150%
        }

.bloc_hebergement{
        height: 750px;
    }

 .bloc_populaire{
        height: 750px;

    }

.stars{
            padding-top: 10px;
            
        }
        
        
.activites_a_marseille{    
    width: 150%;   
}

.container1{
    height: 470px;
}

.container2{
    width: 55%;
}

.container3{
    width: 55%;
}

footer{
  width: 150%;
}

.bloc-interieur{
    margin-right: 30px;
}
}

