/*version tablette 768*/

@media (max-width: 768px){ 

nav ul{
  padding-left: 400px;
    }

.deux_blocs{
        width: 130%;
        }

.bloc_hebergement{
        height: 730px;
    }

 .bloc_populaire{
        height: 730px;

    }

.stars{
            padding-top: 30px;
        }
        
        
.activites_a_marseille{    
    width: 130%;   
}

.container1{
    height: 470px;
}

.container2{
    width: 55%;
}

.container3{
    width: 55%;
}

footer{
  width: 130%;
}

.bloc-interieur{
    margin-right: 30px;
}
}

